[MAIN]
disable=unused-variable,trailing-whitespace,unsubscriptable-object,missing-function-docstring,missing-module-docstring,missing-class-docstring

[BASIC]
# allow 1 or 2 length variable names
good-names-rgxs=^[_a-z][_a-z0-9]?$
