[MAIN]
disable=
    f-string-without-interpolation,
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    trailing-whitespace,
    undefined-variable,
    unsubscriptable-object,
    unused-import,
    unused-variable

[BASIC]
# allow 1 or 2 length variable names
good-names-rgxs=^[_a-z][_a-z0-9]?$
