set bell-style visible
set editing-mode vi
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[1 q\2"
set vi-ins-mode-string "\1\e[5 q\2"
set enable-bracketed-paste on

# Menu Complete
TAB: menu-complete
"\e[Z": menu-complete-backward

"\C-a": beginning-of-line
"\C-e": end-of-line

"\eh": backward-char
"\el": forward-char

"\eU": upcase-word
"\eu": "\e-1\eU"

"\C-o": " **\C-i"

"\e.": yank-last-arg
